<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/image/test.png">
    <script src="/js/navshow.js"></script>
    <script src="/js/faq.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
</head>

<body>
    <%- include('layout/header.ejs'); -%>

        <main>
            <div class="container-fluid fruite">
                <div class="container py-3">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-xl-3">
                                    <div class="input-group w-100 mx-auto d-flex"></div>
                                </div>
                                <div class="col-6"></div>
                                <div class="col-xl-3">
                                    <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                        <label for="fruits">Default Sorting:</label>
                                        <select id="fruits" name="fruitlist"
                                            class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                            <option value="default">Nothing</option>
                                            <option value="htl">High first</option>
                                            <option value="lth">Low first</option>
                                            <option value="nto">Newest first</option>
                                            <option value="otn">Oldest first</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-4">
                                <div class="col-lg-3">
                                    <div class="row g-4">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <h4>Brand</h4>
                                                <ul class="list-unstyled fruite-categorie">
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i class="fa-solid fa-shoe-prints"></i>All</a>
                                                            <span>(3)</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i
                                                                    class="fa-solid fa-shoe-prints"></i>Adidas</a>
                                                            <span>(3)</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i
                                                                    class="fa-solid fa-shoe-prints"></i>Converse</a>
                                                            <span>(5)</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i class="fa-solid fa-shoe-prints"></i>Nike</a>
                                                            <span>(2)</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i class="fa-solid fa-shoe-prints"></i>Vans</a>
                                                            <span>(8)</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i class="fa-solid fa-shoe-prints"></i>Puma</a>
                                                            <span>(5)</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#"><i
                                                                    class="fa-solid fa-shoe-prints"></i>Others</a>
                                                            <span>(5)</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <h4 class="mb-2">Price</h4>
                                                <input type="range" class="form-range w-100" id="rangeInput"
                                                    name="rangeInput" min="0" max="1000" value="0"
                                                    oninput="amount.value=rangeInput.value">
                                                <output id="amount" name="amount" min-velue="0" max-value="1000"
                                                    for="rangeInput">0</output>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <h4>For</h4>
                                                <div class="mb-2">
                                                    <input type="radio" class="me-2" id="Categories-1" name="Categories"
                                                        value="Men">
                                                    <label for="Categories-1"> Men</label>
                                                </div>
                                                <div class="mb-2">
                                                    <input type="radio" class="me-2" id="Categories-2" name="Categories"
                                                        value="Women">
                                                    <label for="Categories-2"> Women</label>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            const radios = document.querySelectorAll('input[type="radio"][name="Categories"]');
                                            let selectedRadio = null;

                                            radios.forEach(radio => {
                                                radio.addEventListener('click', function (e) {
                                                    if (this === selectedRadio) {
                                                        this.checked = false;
                                                        selectedRadio = null;
                                                    } else {
                                                        selectedRadio = this;
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="col-lg-12">
                                            <div class="position-relative">
                                                <img src="/image/banner.png" class="img-fluid w-100 rounded" alt="">
                                                <div class="position-absolute"
                                                    style="top: 50%; right: 10px; transform: translateY(-50%);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row g-4 justify-content-center">
                                        <% products.forEach(function(products) { %>
                                            <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                                                <div class="rounded position-relative fruite-item h-100 w-100">
                                                    <div class="fruite-img">
                                                        <img src="/image/product/<%= products.image %>"
                                                            class="img-fluid" alt="">
                                                    </div>
                                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                        style="top: 10px; left: 10px;">
                                                        <%= products.brand %>
                                                    </div>
                                                    <div
                                                        class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                        <h4><a href="/product/<%= products.id %>">
                                                                <%= products.name %>
                                                            </a></h4>
                                                        <p>
                                                            <%= products.shortDesc %>
                                                        </p>
                                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                                            <p class="text-dark fs-5 fw-bold mb-0">$<%= products.price
                                                                    %>
                                                            </p>
                                                            <form method="post"
                                                                action="/add-product-to-cart/<%= products.id %>">
                                                                <button
                                                                    class="mx-auto btn border border-secondary rounded-pill px-3 text-primary">
                                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                                                    Add to cart
                                                                </button>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <% }) %>
                                                <div class="col-12">
                                                    <div class="pagination d-flex justify-content-center mt-5">
                                                        <a href="#" class="rounded">&laquo;</a>
                                                        <a href="#" class="active rounded">1</a>
                                                        <a href="#" class="rounded">2</a>
                                                        <a href="#" class="rounded">3</a>
                                                        <a href="#" class="rounded">4</a>
                                                        <a href="#" class="rounded">5</a>
                                                        <a href="#" class="rounded">6</a>
                                                        <a href="#" class="rounded">&raquo;</a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layout/footer.ejs'); -%>
</body>

</html>