<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN ROLE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" type="image/png" href="/image/test.png">
</head>

<body>
    <%- include('../layout/admin_header.ejs'); -%>

        <main>
            <div class="header">
                <h2>List Sneakers wait Admin </h2>
            </div>
            <table class="table table-hover ">
                <thead>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Model name</th>
                    <th>Size</th>
                    <th></th>
                </thead>
                <tbody>
                    <% if (secondhands.length> 0) { %>
                        <% secondhands.forEach((secondhand, index)=> { %>
                            <tr>
                                <td>
                                    <%= secondhand.id %>
                                </td>
                                <td>
                                    <%= secondhand.brand %>
                                </td>
                                <td>
                                    <%= secondhand.model_name %>
                                </td>
                                <td>
                                    <%= secondhand.size %>
                                </td>
                                <td class="button">
                                    <form action="/handle-view-waiting/<%= secondhand.id %>" method="get">
                                        <button type="submit" class="btn btn-info">View</button>
                                    </form>

                                    <form action="/handle-delete-waiting/<%= secondhand.id %>" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7">No sneakers found</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </main>
        <footer>

        </footer>
</body>

</html>